<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KnoodleUX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KnoodleUX.Properties.Settings.MosiacConnection" connectionString="Data Source=DBSERVER;Initial Catalog=Mosaic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <KnoodleUX.Properties.Settings>
            <setting name="LastSelectedJob" serializeAs="String">
                <value>1308</value>
            </setting>
        </KnoodleUX.Properties.Settings>
    </userSettings>
</configuration>